
@{
    ViewData["Title"] = "MainPage";
}
<link rel="stylesheet" href="~/css/mainwindow.css" />
<body>
    <div class="Main">
        <header class="_header">
            <div class="logo">
                <a href="#" class="company-name">Dairy Delights Emporium</a>
            </div>
            <div class="mogo">
                <a href="#"><img src="~/img/Group 84(1).png" style="height:180px;width:180px;margin-top:-5px" /></a>
            </div>

        </header>

        <div class="main_body">
            @*<div class="search_bar">
            <input type="search" placeholder="Искать в магазине" class="search-bar">
        </div>*@
            <div class="container1">
                <div class="search_bar">
                    <input type="search" placeholder="Искать в магазине" class="search-bar">
                </div>
                <p class="title">Фильтры</p>
            </div>
            <div class="container2">
                <label class="count_product">0 товаров</label>
            </div>
            <div class="container3">

            </div>
        </div>
</body>

